body{
    background-color: #b4deee ;
}

.navbar{
    background-color: #006494;
    font-palette: white;
    color: azure;
}

#nav-link{
    color: white
}

.nav-item  {
    color: white;
    background-color: #006494;
}


.card{
    width: 18rem;
    height: 33rem;
    font-palette: normal;
    color: azure;
    border: 3px;
    background-color: #006494;
}

.h2-custom{
    color: #006494;
    font-weight: bolder;
    text-align: center;
}

